[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target
After=postgresql.service

[Service]
Type=simple
User={{ gogs_user }}
Group={{ gogs_user }}
WorkingDirectory={{ gogs_root }}/gogs
ExecStart={{ gogs_root }}/gogs/gogs web
Restart=always
Environment=USER={{ gogs_user }} HOME={{ gogs_root }}

[Install]
WantedBy=multi-user.target
