SECRET_KEY = '{{ webtrigger_secret_key }}'
#SQLALCHEMY_DATABASE_URI = 'sqlite:////var/www/webtrigger_db.sqlite'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ webtrigger_db_user }}:{{ webtrigger_db_password }}@{{ webtrigger_db_host }}:{{ webtrigger_db_port }}/{{ webtrigger_db_name }}'

EXECDB_URL = 'http://127.0.0.1/execdb'
BUILDMASTER_URL = 'http://127.0.0.1:8080'

SCHEDULE = True
DEBUG = True
