WSGIDaemonProcess webtrigger user=apache group=apache threads=2
WSGIScriptAlias /webtrigger /usr/share/webtrigger/webtrigger.wsgi
WSGISocketPrefix run/wsgi

# this isn't the best way to force SSL but it works for now
#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^/webtrigger/admin/?(.*) https://%{SERVER_NAME}/$1 [R,L]

<Directory /usr/share/webtrigger>
    WSGIProcessGroup webtrigger
    WSGIApplicationGroup %{GLOBAL}
    WSGIScriptReloading On
    Require all granted
</Directory>

#Alias /webtrigger/static /var/www/webtrigger/webtrigger/static

#<Directory /var/www/webtrigger/webtrigger/static>
#Order allow,deny
#Allow from all
#</Directory>
